<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="/images/favicon.ico">
    <title>vue-test</title>
    <link ref="/page/login/login.css" />
  </head>
  <body>
    <noscript>
      <strong>We're sorry but vue-test doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
  <div id="app">login</div>
  <script src="/script/login/login-chunk.js"></script>
  </body>
</html>
